{% extends 'baseSinFondo.html.twig' %}

{% block body %}

      <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          
                           <div style="float:right; margin-top:20px;">
                            {{ form_start(delete_form) }}
                             <a class="btn btn-primary btn-sm"  href="{{ path('usuarios_index') }}">Atras</a>
                             <a class="btn  btn-success btn-sm"  href="{{ path('usuarios_edit', { 'id': usuario.id }) }}">Editar</a>&nbsp;
                             <input class="btn  btn-danger btn-sm"  type="submit" value="Borrar">

                             
                            {{ form_end(delete_form) }}
                              
                              
                           </div>
                            <h1>Datos de usuario </h1>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    
  <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ usuario.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ usuario.apellidos }}</td>
            </tr>
            <tr>
                <th>Nickname</th>
                <td>{{ usuario.nickname }}</td>
            </tr>
            <tr>
                <th>Correoelectronico</th>
                <td>{{ usuario.correoElectronico }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ usuario.password }}</td>
            </tr>
            <tr>
                <th>Rol</th>
                <td>{{ usuario.rol }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{% if usuario.estado %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>

                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                 <ul>


      

           
                        
                    </div>
                    <!--End Advanced Tables -->

{% endblock %}
