{%extends 'index.html.twig'%}
{%block title%} QMP - {{usuario.nombres}} {{usuario.apellidos}} {%endblock%}
{%block loginoptions%}
    {% if usuarioLogueado == 1  %}

            <a href="{{url('usuario')}}">{{nickname}}</a> | <a href="{{url('logout_action')}}">Salir</a>
       
    {% else %} 

        {{parent()}} 
    
    {% endif %}
{% endblock %}
{% block classcontenido %}col-md-12 fondoContenido{% endblock %}
{% block contenido %}

 <div class="menu-pelicula-border-black">
                <ul class="menu-pelicula-tab">
                    <li class="active"><a data-toggle="tab" href="#totalvistas">Administracion de usuarios&nbsp;</a></li>
                </ul>
            </div>

            
            <div class="tab-content">
                <div id="totalvistas" class="tab-pane fade in active">
                    <object style="overflow-x:false;" width="100%" height="900"  data="{{url('usuarios_index')}}"></object>
                </div>

                <div id="generosvistos" class="tab-pane fade">
                   
                </div>
               
          
    </div>
  
{% endblock %}

{% block barraderecha %}


{% endblock %}

