{%extends 'index.html.twig'%}
{%block title%} QMP - {{usuario.nombres}} {{usuario.apellidos}} {%endblock%}
{%block loginoptions%}
    {% if usuarioLogueado == 1  %}

            <a href="{{url('usuario')}}">{{nickname}}</a> | <a href="{{url('logout_action')}}">Salir</a>
       
    {% else %} 

        {{parent()}} 
    
    {% endif %}
{% endblock %}
{% block classcontenido %}col-md-12 fondoContenido{% endblock %}
{% block contenido %}

 <div class="menu-pelicula-border-black">
                <ul class="menu-pelicula-tab">
                    <li class="active"><a data-toggle="tab" href="#totalvistas">Administracion de usuarios&nbsp;</a></li>
                    <li><a data-toggle="tab" href="#ultimomes">Informes</a></li>
                </ul>
            </div>

            
            <div class="tab-content">
                <div id="totalvistas" class="tab-pane fade in active">
                    <object width="100%" height="1100"  data="{{url('usuarios_index')}}"></object>
                    
                </div>
                <div id="ultimomes" class="tab-pane fade">
                     <div class="alert alert-warning" role="alert"><strong>Warning!!</strong> Limitación de la API</div>
                    <table class="table">
                        <thead>
                          <tr>
                           <td>Id de pelicula</td>
                            <td>Id de usuario</td>
                            <td>Fecha vista</td>
                          </tr>
                        </thead>
                        <tbody>
                         
                          {% for pelicula in peliculasultimomes %}
                              <tr>
                                <th>{{pelicula.idPelicula}}</th>
                                <th>{{pelicula.idUsuario}}</th>
                                <th>{{pelicula.fechaAdicionPelicula |date("m/d/Y")}}</th>
                            </tr>
                            {% endfor %}
                         
                        </tbody>
                      </table>
                </div>
                
                <div id="generosvistos" class="tab-pane fade">
                   
                </div>
               
          
    </div>
  
{% endblock %}

{% block barraderecha %}


{% endblock %}

