{%extends 'index.html.twig'%}
{%block title%} QMP - Resultados de busqueda {%endblock%}
{%block loginoptions%}
    {% if usuarioLogueado == 1  %}

            <a href="{{url('usuario')}}">{{nickname}}</a> | <a href="{{url('logout_action')}}">Salir</a>
       
    {% else %} 

        {{parent()}} 
    
    {% endif %}
{% endblock %}
{% block classcontenido %}col-md-12 fondoContenido{% endblock %}
{% block contenido %}
    
     <div class="resultados-header">N&uacute;mero de resultados para <b>"{{ consulta }}"</b>: {{params.total_results}}  Pagina:{{ params.page }} de {{ params.total_pages }} </div> <br>
   
   {%set k=0%}
   {%for actor in params.results%} 
    <div id="perfil-actor" class = "actorbox">
        <div class="header-actorbox">
            <img class="img-actorbox" src="{%if actor.profile_path == "" %}
            {{asset('assets/images/profileEmpty.png')}}
            {% else %}
            https://image.tmdb.org/t/p/w132_and_h132_bestv2/{{actor.profile_path}}
            {% endif %}" alt="{{actor.name}}" >
            <div class="name-actorbox"><label>{{actor.name}}</label> <a href="{{ url('homepage') }}vista/bunactor/{{actor.id}}" /><sup class="glyphicon glyphicon-new-window"> </sup></a> </div>
        </div>
        <div class="body-actorbox">
        {%set i=0%}
        {%for pelicula in actor.known_for%}
        
        <div class="resultado" onclick="location.href='{{ url('homepage') }}vista/mostrarpelicula/{{pelicula.id}}'">
             <a href="{{ url('homepage') }}vista/mostrarpelicula/{{pelicula.id}}" >
                {% if pelicula.poster_path == "" %}
                    
                    <img src="{{asset('assets/images/movie.png')}}" alt="...">
                               
                    {% else %}
                            
                    <img src="https://image.tmdb.org/t/p/w185/{{pelicula.poster_path}}" alt="...">
                            
                {% endif %}
                </a>
                <div class="resultado-articulo">
                    <label> {{pelicula.title}} <div id="c{{i}}{{k}}" value="0" class="rateyo-readonly-widg"> </div> Fecha de estreno: {{pelicula.release_date}}</label><br>
                    {{pelicula.overview}} 
                </div>
                
            </div>
          
            {%set i= i + 1%}
        {%endfor%} 
        </div>
    </div> 
    {%set k= k + 1%}
    {%endfor%} 
    <nav>
            <ul class="pager">
                
                {% if params.page == 1 %}
                
                    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> P&aacute;gina anterior</a></li>
                             
                {% else %}
                    {% if flag == "similares" %}   
                        <li class="previous"><a href="{{ url('homepage') }}vista/similares/{{ consulta }}/{{ params.page - 1 }}"><span aria-hidden="true">&larr;</span> P&aacute;gina anterior</a></li>
                    {% elseif flag == "generos" %} 
                        <li class="previous"><a href="{{ url('homepage') }}vista/bgeneros/{{ consulta }}/{{ params.page - 1 }}"><span aria-hidden="true">&larr;</span> P&aacute;gina anterior</a></li>
                    {% else %}
                        <li class="previous"><a href="{{ url('homepage') }}vista/bactor/{{ consulta }}/{{ params.page - 1 }}"><span aria-hidden="true">&larr;</span> P&aacute;gina anterior</a></li>
                    {% endif %}    
                {% endif %}
                
                {% if params.page == params.total_pages %}
                
                    <li class="next disabled"><a href="#"> P&aacute;gina siguiente <span aria-hidden="true">&rarr;</span></a></li>
                    
                {% elseif params.page >= 1000 %}
                
                     <li class="next disabled"><a href="#"> P&aacute;gina siguiente <span aria-hidden="true">&rarr;</span></a></li>
                
                {% else %}
                    
                    {% if flag == "similares" %} 
                        <li class="next"><a href="{{ url('homepage') }}vista/similares/{{ consulta }}/{{ params.page + 1 }}"> P&aacute;gina siguiente <span aria-hidden="true">&rarr;</span></a></li>
                    {% elseif flag == "generos" %} 
                        <li class="next"><a href="{{ url('homepage') }}vista/bgeneros/{{ consulta }}/{{ params.page + 1 }}"> P&aacute;gina siguiente <span aria-hidden="true">&rarr;</span></a></li>
                    {% else %} 
                        <li class="next"><a href="{{ url('homepage') }}vista/bactor/{{ consulta }}/{{ params.page + 1 }}"> P&aacute;gina siguiente <span aria-hidden="true">&rarr;</span></a></li>
                    {% endif %}
                      
                    
                {% endif %}
                
                
            </ul>
    </nav>
       

{% endblock %}

{% block barraderecha %} {% endblock %}



{%block javascripts%}
 {{ parent() }}
<script>
     $(function() {
        {% set k = 0 %}
        {% for actor in params.results%}
        
            {% set i = 0 %}
            {% for pelicula in actor.known_for%}
            
                var rating = {{pelicula.vote_average}};
                $(".counter").text(rating);
                $("#c{{i}}{{k}}").rateYo({
                    readOnly: true,
                    rating: rating,
                    numStars: 10,
                    precision: 10,
                    minValue: 1,
                    maxValue: 10
                }).on("rateyo.change", function(e, data) {
                    $("#c{{i}}{{k}}").val(data.rating);
                });
                {%set i = i + 1%}
            {%endfor%}
        {%set k = k + 1%}
        {%endfor%}
     });
    </script>   
{%endblock%}