{%extends 'index.html.twig'%}
{%block title%} QMP - Resultados de busqueda {%endblock%}
{%block loginoptions%}
    {% if usuarioLogueado == 1  %}

            <a href="{{url('usuario')}}">{{nickname}}</a> | <a href="{{url('logout_action')}}">Salir</a>
       
    {% else %} 

        {{parent()}} 
    
    {% endif %}
{% endblock %}
{% block classcontenido %}col-md-12 fondoContenido{% endblock %}
{% block contenido %}
    
    <div class="alert alert-warning" role="alert"><strong>Warning!!</strong> Limitación de la API, solo se cargarán máximo los primeros 10 resultados.</div>
    
    <div class="resultados-header">N&uacute;mero de resultados para <b>"{{ perfil.name }}"</b>: {{params|length}} </div> <br>
   
    <div id="perfil-actor" class = "actorbox">
        <div class="header-actorbox">
            <img class="img-actorbox" src="{%if perfil.profile_path == "" %}
            {{asset('assets/images/profileEmpty.png')}}
            {% else %}
            https://image.tmdb.org/t/p/w132_and_h132_bestv2/{{perfil.profile_path}}
            {% endif %}" alt="{{perfil.name}}" >
            <div class="name-actorbox"><label>{{perfil.name}}</label> </div>
        </div>
        <div class="body-actorbox">
        {%set i=0%}
        {%for pelicula in params%}
        
        <div class="resultado" onclick="location.href='{{ url('homepage') }}vista/mostrarpelicula/{{pelicula.id}}'">
             <a href="{{ url('homepage') }}vista/mostrarpelicula/{{pelicula.id}}" >
                {% if pelicula.poster_path == "" %}
                    
                    <img src="{{asset('assets/images/movie.png')}}" alt="...">
                               
                    {% else %}
                            
                    <img src="https://image.tmdb.org/t/p/w185/{{pelicula.poster_path}}" alt="...">
                            
                {% endif %}
                </a>
                <div class="resultado-articulo">
                    <label> {{pelicula.title}} <div id="c{{i}}" value="0" class="rateyo-readonly-widg"> </div> Fecha de estreno: {{pelicula.release_date}}</label><br>
                    {{pelicula.overview}} 
                </div>
                
            </div>
          
            {%set i= i + 1%}
        {%endfor%} 
        </div>
    </div> 
    
       

{% endblock %}

{% block barraderecha %} {% endblock %}

{% set i = 0 %}

{%block javascripts%}
 {{ parent() }}
<script>
     $(function() {
        {% for pelicula in params%}
            var rating = {{pelicula.vote_average}};
            $(".counter").text(rating);
            $("#c{{i}}").rateYo({
                readOnly: true,
                rating: rating,
                numStars: 10,
                precision: 10,
                minValue: 1,
                maxValue: 10
            }).on("rateyo.change", function(e, data) {
                $("#c{{i}}").val(data.rating);
            });
                {%set i = i + 1%}
        {%endfor%}
     });
    </script>   
{%endblock%}