{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        body{
            background-color:#fff;
            margin: 0px 0px 0px 0px;
        }
        
        /*body div {
            border-style:solid;
            border-color:#000;
        }*/
    </style>
{% endblock %}

{% block body %}
<div class="elegirGenero-contenedor">
    
    {%if error == 1%}
		<div class="alert alert-danger alert-dismissible" role="alert">
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  			<strong>Error!</strong> Debe seleccionar almenos uno.
		</div>
	{%endif%}
    
    <div class="row">
        <div class="col-sm-5">
            <h2> Bienvenido a QMP </h2>
            <h5>Ellige tus géneros favoritos:</h5>
            <form method = "POST" action="{{url('registro_generos_action')}}">
            {% set contador_generos = 0 %}
            {% for genero in params.genres %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="{{genero.id}}" name="genero_{{contador_generos}}"> {{genero.name}}
                </label>
            </div>
            {% set contador_generos = contador_generos + 1 %}
            {% endfor %}
            <input type="submit" class="btn btn-primary" type="button" value="Continuar">
            </form>
        </div>

        <div class="col-sm-5 imagen-generos">
            <img src="http://images6.fanpop.com/image/photos/37600000/Transparent-Baymax-big-hero-6-37653147-347-500.png" />
        </div>
        
    </div>
</div>
{% endblock %}