{% extends 'index.html.twig' %}
{%block title%} Quality Mega Pixel {%endblock%}
{% block moviename%}{{backdrops[0].titulo}}{% endblock %}
{% block stylesheets %}

    {{ parent() }}
    <style>
    
        .cabezera {
            
             padding-top: 20px;
    background-color: #f5f5f5;
    height: 200px;
    width: 100%;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: url("https://image.tmdb.org/t/p/w1280{{ backdrops[0].fondo }}");
    margin: 0 auto; 
        }
        
    </style>
{%endblock%}


{%block loginoptions%}
    {% if usuarioLogueado == 1  %}

            {{nickname}} | <a href="{{url('logout_action')}}">Salir</a>
       
    {% else %} 

        {{parent()}} 
    
    {% endif %}
{% endblock %}
{%set i = 0%}
{%block tendencia%}

    {%for pelicula in tendencia.results|slice(0,numPeliculasDivisibleTres)%}

                <div class="col-sm-4 col-md-4">
                    <a href="{{ url('homepage') }}vista/mostrarpelicula/{{pelicula.id}}" class="thumbnail movie">
                        {% if pelicula.poster_path == "" %}
                             <img src="{{asset('assets/images/movie.png')}}" alt="Imagen pelicula">
                             
                        {% else %}
                        
                            <img src="https://image.tmdb.org/t/p/w185/{{pelicula.poster_path}}" alt="{{ pelicula.title }}">
                        
                        {% endif %}
                        
                        <div class="caption">
                            <h5>{{ pelicula.title }}<div id="c{{i}}" value="0" class="rateyo-readonly-widg"></div></h5>
                        </div>
                    </a>
                </div>
                {%set i =( i + 1)%}
    {%endfor%}
{%endblock%}

{%block mejorvaloradas%}
{% set i = numPeliculasDivisibleTres %}
    {%for pelicula in mejoresValoradas.results|slice(0,numPeliculasDivisibleTres)%}

                <div class="col-sm-4 col-md-4">
                    <a href="{{ url('homepage') }}vista/mostrarpelicula/{{pelicula.id}}" class="thumbnail movie">
                        {% if pelicula.poster_path == "" %}
                             <img src="{{asset('assets/images/movie.png')}}" alt="Imagen pelicula">
                             
                        {% else %}
                        
                            <img src="https://image.tmdb.org/t/p/w185/{{pelicula.poster_path}}" alt="{{ pelicula.title }}">
                        
                        {% endif %}
                        <div class="caption">
                            <h5>{{ pelicula.title }}<div id="c{{i}}" value="0" class="rateyo-readonly-widg"></div></h5>
                        </div>
                    </a>
                </div>
                {%set i = i + 1%}
    {%endfor%}
{%endblock%}

{%block estrenos%}
{% set i = numPeliculasDivisibleTres * 2%}
    {%for pelicula in estrenos.results|slice(0,numPeliculasDivisibleTres)%}

                <div class="col-sm-4 col-md-4">
                    <a href="{{ url('homepage') }}vista/mostrarpelicula/{{pelicula.id}}" class="thumbnail movie">
                        {% if pelicula.poster_path == "" %}
                             <img src="{{asset('assets/images/movie.png')}}" alt="Imagen pelicula">
                             
                        {% else %}
                        
                            <img src="https://image.tmdb.org/t/p/w185/{{pelicula.poster_path}}" alt="{{ pelicula.title }}">
                        
                        {% endif %}
                        <div class="caption">
                            <h5>{{ pelicula.title }}<div id="c{{i}}" value="0" class="rateyo-readonly-widg"></div></h5>
                        </div>
                    </a>
                </div>
                {%set i =i + 1%}
    {%endfor%}
{%endblock%}

{%block proximamente%}

{% set i = numPeliculasDivisibleTres * 3%}
    {%for pelicula in proximamente.results|slice(0,numPeliculasDivisibleTres)%}

                <div class="col-sm-4 col-md-4">
                    <a href="{{ url('homepage') }}vista/mostrarpelicula/{{pelicula.id}}" class="thumbnail movie">
                        {% if pelicula.poster_path == "" %}
                             <img src="{{asset('assets/images/movie.png')}}" alt="Imagen pelicula">
                             
                        {% else %}
                        
                            <img src="https://image.tmdb.org/t/p/w185/{{pelicula.poster_path}}" alt="{{ pelicula.title }}">
                        
                        {% endif %}
                        <div class="caption">
                            <h5>{{ pelicula.title }}<div id="c{{i}}" value="0" class="rateyo-readonly-widg"></div></h5>
                        </div>
                    </a>
                </div>
                {%set i = i + 1%}
    {%endfor%}
{%endblock%}

{%block ultimas%}

{% set i = numPeliculasDivisibleTres * 4%}
    {%for pelicula in ultimas.results|slice(0,numPeliculasDivisibleTres)%}

                <div class="col-sm-4 col-md-4">
                    <a href="{{ url('homepage') }}vista/mostrarpelicula/{{pelicula.id}}" class="thumbnail movie">
                        {% if pelicula.poster_path == "" %}
                             <img src="{{asset('assets/images/movie.png')}}" alt="Imagen pelicula">
                             
                        {% else %}
                        
                            <img src="https://image.tmdb.org/t/p/w185/{{pelicula.poster_path}}" alt="{{ pelicula.title }}">
                        
                        {% endif %}
                        <div class="caption">
                            <h5>{{ pelicula.title }}<div id="c{{i}}" value="0" class="rateyo-readonly-widg"></div></h5>
                        </div>
                    </a>
                </div>
                {%set i = i + 1%}
    {%endfor%}
{%endblock%}




{% set i = 0 %}

{%block javascripts%}
 {{ parent() }}
<script>
     $(function() {
         
         $("#a_tendencia").click(function() {
      $('#cabezera').css("background", "url(https://image.tmdb.org/t/p/w1280/{{backdrops[0].fondo}})");
      $('#watermark').html("{{backdrops[0].titulo}}");
});
           $("#a_mejores_valoradas").click(function() {
      $('#cabezera').css("background", "url(https://image.tmdb.org/t/p/w1280/{{backdrops[1].fondo}})");
      $('#watermark').html("{{backdrops[1].titulo}}");
});   
     $("#a_estrenos").click(function() {
      $('#cabezera').css("background", "url(https://image.tmdb.org/t/p/w1280/{{backdrops[2].fondo}})");
      $('#watermark').html("{{backdrops[2].titulo}}");
      
});
     $("#a_proximamente").click(function() {
      $('#cabezera').css("background", "url(https://image.tmdb.org/t/p/w1280/{{backdrops[3].fondo}})");
      $('#watermark').html("{{backdrops[3].titulo}}");
});
        {%for pelicula in tendencia.results|slice(0,numPeliculasDivisibleTres)%}
            var rating = {{pelicula.vote_average}};
            $(".counter").text(rating);
            $("#c{{i}}").rateYo({
                readOnly: true,
                rating: rating,
                numStars: 10,
                precision: 10,
                minValue: 1,
                maxValue: 10
            }).on("rateyo.change", function(e, data) {
                $("#c{{i}}").val(data.rating);
            });
                {%set i = i + 1%}
        {%endfor%}
      {%for pelicula in mejoresValoradas.results|slice(0,numPeliculasDivisibleTres)%}
            var rating = {{pelicula.vote_average}};
            $(".counter").text(rating);
            $("#c{{i}}").rateYo({
                readOnly: true,
                rating: rating,
                numStars: 10,
                precision: 10,
                minValue: 1,
                maxValue: 10
            }).on("rateyo.change", function(e, data) {
                $("#c{{i}}").val(data.rating);
            });
                {%set i = i + 1%}
        {%endfor%}
          {%for pelicula in estrenos.results|slice(0,numPeliculasDivisibleTres)%}
            var rating = {{pelicula.vote_average}};
            $(".counter").text(rating);
            $("#c{{i}}").rateYo({
                readOnly: true,
                rating: rating,
                numStars: 10,
                precision: 10,
                minValue: 1,
                maxValue: 10
            }).on("rateyo.change", function(e, data) {
                $("#c{{i}}").val(data.rating);
            });
                {%set i = i + 1%}
        {%endfor%}
          {%for pelicula in proximamente.results|slice(0,numPeliculasDivisibleTres)%}
            var rating = {{pelicula.vote_average}};
            $(".counter").text(rating);
            $("#c{{i}}").rateYo({
                readOnly: true,
                rating: rating,
                numStars: 10,
                precision: 10,
                minValue: 1,
                maxValue: 10
            }).on("rateyo.change", function(e, data) {
                $("#c{{i}}").val(data.rating);
            });
                {%set i = i + 1%}
        {%endfor%}
        
        
     });
     </script>
{%endblock%}


