{% extends 'index.html.twig' %}



{% block title%} {{params.title}} {%endblock%}
{% block stylesheets %}

    {{ parent() }}
    <style>
    
        .fondo {
            background-image: url("https://image.tmdb.org/t/p/original/{{ params.backdrops[3].file_path }}");
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        
    </style>
    <link href="{{asset('assets/css/style.css')}}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="//code.jquery.com/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.8.3.js"></script>

  
{% endblock %}
{% block moviename%}{{params.title}}{% endblock %}
{% block classcontenido %}col-md-12 fondoContenido{% endblock %}
{% block contenido %}




<div class="content">
      	   <div class="movie_top">
      	         <div class="col-md-9 movie_box">
 

      	         		<div class="video">
			      			<iframe width="100%" height="" src="https://www.youtube.com/embed/{{params.results[0].key}}" frameborder="0" allowfullscreen=""></iframe>
			  			</div>

                        <div class="grid images_3_of_2">
                        	<div class="movie_image">
                                <span class="movie_rating">{{params.vote_average}}</span>
                                <img src="https://image.tmdb.org/t/p/w300{{params.poster_path}}" width="100%" alt="{{params.title}}" class="img-responsive" >
                            </div>
                            <div class="movie_rate">
                                <span>
                            <p>	Your Vote :</p>
                            <span id="calificacionPersonal" class="rateyo-readonly-widg"></span>
                            </span>
						  	   <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="desc1 span_3_of_2">
                        	<p class="movie_option"><strong><div class="titulo">{{params.title}}  </strong></p> </div> <br />
                        	{%if params.release_date %}<p class="movie_option"><strong>Fecha de estreno: </strong>{{params.release_date}}</p>{%endif%}
                        	<p class="movie_option"><strong>Categoría: </strong><a href="#">Adventure</a>, <a href="#">Fantazy</a></p>
                        	<p class="movie_option"><strong>Director: </strong><a href="#">suffered </a></p>
                        	<p class="movie_option"><strong>Actores: </strong><a href="#">anything</a>, <a href="#">Lorem Ipsum</a>, <a href="#" discovered<="" a="">, </a><a href="#"> Virginia</a>, <a href="#"> Virginia</a>, <a href="#">variations</a>, <a href="#">variations</a>, <a href="#">variations</a>, <a href="#"> Virginia</a> <a href="#">...</a></p>
                            <p class="movie_option"><strong>Restricción de edad: </strong>13</p> 
                            <div class="down_btn"><a class="btn1" href="#"><span> </span>Marcar como vista</a></div>
                            <div class="down_btn"><a class="btn1" href="#"><span> </span>Adicionar a una lista</a></div>
                         </div>

                        
                        <div class="clearfix"> </div>
                        <p class="m_4">{{params.overview}}</p>
		                
                      </div>
                 
                    
                  </div>
                    
           </div>

{%endblock%}
{%block javascripts%}
{{parent()}}
    <script>
        $(function() {

            var rating = {{params.vote_average}};

        $("#calificacionPersonal").rateYo({
                readOnly: false,
                rating: rating,
                numStars: 10,
                precision: 10,
                minValue: 1,
                maxValue: 10
            }).on("rateyo.change", function(e, data) {
                $("#calificacionPersonal").val(data.rating);

            });
 
      $('#cabezera').css("background", "url(https://image.tmdb.org/t/p/w1280/{{params.backdrop_path}})");  



            $("#c1").rateYo({
                readOnly: true,
                rating: rating,
                numStars: 10,
                precision: 10,
                minValue: 1,
                maxValue: 10,
                 multiColor: {
 
      "startColor": "#FF0000", //RED
      "endColor"  : "#00FF00"  //GREEN
    }

            }).on("rateyo.change", function(e, data) {
                $("#c1").val(data.rating);

            });
        });
    </script>
    
    {%endblock%}
    {% block barraderecha %}{% endblock %}
