{% extends 'index.html.twig' %}



{% block title%} {{params.title}} {%endblock%}
{% block stylesheets %}

    {{ parent() }}
    {%if params.backdrops[3].file_path%}
  
    <style>
    
        .fondo {
            background-image: url("https://image.tmdb.org/t/p/original/{{ params.backdrops[3].file_path }}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center; 
        }
        
    </style>
    {%endif%}
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{{asset('assets/css/greeter.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('assets/css/style.css')}}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="{{asset('assets/js/greeter.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <!--<meta http-equiv="expires" content="Sat, 11 Jun 2016 23:00:00 GMT"/>-->
    
    <meta id="meta_url" property="og:url"                content="{{url('vista_homepage')}}mostrarpelicula/{{params.id}}" />
    <meta id="meta_type" property="og:type"               content="video.movie" />
    <meta id="meta_title" property="og:title"              content="{{params.title}}" />
    <meta id="meta_description" property="og:description"        content="{{params.overview}}" />
    
    {% if params.poster_path == "" %}
    <meta id="meta_image" property="og:image"              content="{{asset('assets/images/movie.png')}}" />
    {% else %}
    <meta id="meta_image" property="og:image"              content="https://image.tmdb.org/t/p/w300{{params.poster_path}}" />
    {% endif %}
    
{% endblock %}
{% block moviename%}{{params.title}}{% endblock %}
{% block classcontenido %}col-md-12 fondoContenido{% endblock %}
{%block loginoptions%}
    {% if usuarioLogueado == 1  %}

            <a href="{{url('usuario')}}">{{nickname}}</a> | <a href="{{url('logout_action')}}">Salir</a>
       
    {% else %} 

        {{parent()}} 
    
    {% endif %}
{% endblock %}
{% block contenido %}

<div  id="divEmergente"style="display:none" class="alert alert-success alert-dismissible" role="alert">
    <p id="mensajeEmergente"></p>
</div>


<div id = "ctn" class="content">

      	   <div class="movie_top">
      	         <div class="col-md-9 movie_box">
 
                        <div class="grid images_3_of_2">
                        	<div class="movie_image">
                                <span class="movie_rating">{{params.vote_average}}</span>
                                
                                {% if params.poster_path == "" %}
                                     <img src="{{asset('assets/images/movie.png')}}" width="100%" alt="{{params.title}}" class="img-responsive" >
                                {% else %}
                                     <img src="https://image.tmdb.org/t/p/w300{{params.poster_path}}" width="100%" alt="{{params.title}}" class="img-responsive" >
                                {% endif %}
                                
                               
                                
                            </div>
                            {%if usuarioLogueado%}
                            <div class="movie_rate">
                                <span> <p>	Tu voto :</p> <span id="calificacionPersonal" class="rateyo-readonly-widg"></span></span>
						  	   <div class="clearfix"> </div>
                            </div>
                           
                               {%endif%}
                        </div>
                     
                        <div class="desc1 span_3_of_2">
                      
                            <center>
                            <div id="menupelicula" class="menu-pelicula" >
                                <ui>
                                    {%if usuarioLogueado == 1%}
                                    <li id="marcar_desmarcar_vista_li" class="vista"> <div id="iconoVista" class="glyphicon glyphicon-eye-open"></div> Vista&nbsp;</li>
                                    <li id="marcar_desmarcar_por_ver_li" class="vista"> <div id="iconoPorVer"  class="glyphicon glyphicon-time"></div> Pendiente&nbsp;</li>
                                    
                                    <li class="listas dropdown" id ="listas"> <div class="glyphicon glyphicon-plus"></div> 
                                        <a id="listas" href="#" data-toggle="dropdown" class="dropdown-toggle">Listas&nbsp;<b class="caret"></b></a>&nbsp;
                                            <ul id = "ulListaColecciones" class="dropdown-menu">
                                                 <li > <a id="crearListas" href="#lista"><span class="glyphicon glyphicon-plus"></span>&nbsp;Crear</a> </li>
                                                 <li class="divider"></li>
                                                {%for lista in params.listaColecciones%}
                                                <li id ="li_coleccion"><a idColeccion="{{lista.id}}" class="a_lista" id="crearListas" >{{lista.nombre}}</a> </li>
                                                {%endfor%}
                                            
                                            </ul>
                                    </li>
                                    {%endif%}
                                    <li class="dropdown trailers" id="test"> 
                                        <a id="trailers" href="#" data-toggle="dropdown" class="dropdown-toggle"> 
                                            <div class="glyphicon glyphicon-film"></div> Trailers&nbsp;<b class="caret"></b>
                                        </a>&nbsp;
                                        <ul class="dropdown-menu">
                                            {% set t = 0 %}
                                            {% for trailer in params.results %}
                                            <li><a id="trailer{{t}}" href="#popup{{t}}">{{trailer.name}} | {{trailer.iso_639_1}} | {{trailer.size}}p</a></li>
                                            
                                            <div id="popup{{t}}" style="" class="overlay">
	                                            <div class="popup">
		                                            <a id="close{{t}}" class="close" href="#">&times;</a>
		                                            <div class="video">
			      			                            <iframe width="100%" height="600px" src="https://www.youtube.com/embed/{{trailer.key}}?rel=0" frameborder="0" allowfullscreen=""></iframe>
			  			                            </div>
	                                            </div>
                                            </div>
                                            {% set t = t + 1 %}
                                            {% endfor %}
                                            
                                        </ul>
                                    </li>
                                    
                                    <li class="compartir dropdown"> <a id="listas" href="#" data-toggle="dropdown" class="dropdown-toggle"> <div class="glyphicon glyphicon-share"></div> Compartir&nbsp;<b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a id="compartirFacebook" href="#"> <i class="fa fa-facebook-square" style="color:#3b5998"></i> &nbsp;Facebook</a> </li>
                                                
                                                <li><a id="compartirTwitter" target="_blank" href="https://twitter.com/intent/tweet?via=QMP1523cd <p></p>&text={{params.title}}&url={{url('vista_homepage')}}mostrarpelicula/{{params.id}}"> <i class="fa fa fa-tumblr-square" style="color:#4099FF"></i> &nbsp;Twitter</a> </li>
                                            </ul>
                                    </li>
                                    
                                   
                                </ui>
                            </div>
                            </center>
                            
                            <ul class="menu-pelicula-tab">
                                <li class="active"><a data-toggle="tab" href="#detalles">Detalles&nbsp;</a></li>
                                <li><a data-toggle="tab" href="#produccion">Producci&oacute;n</a></li>
                            </ul>
                                <div class="tab-content">
                                    <div id="detalles" class="tab-pane fade in active">
                                    <div class="movie_option"><strong><div class="titulo">{{params.title}}  </strong> </div> </div> <br/>
                                	{%if params.release_date %}
                                	    <div class="movie_option"><strong>Fecha de estreno: </strong>{{params.release_date}}</div>
                                	{%endif%}
                                	<div class="movie_option"><strong>Generos: </strong> 
                                	{%set i=0%}
                                	{%for genero in params.genres%}
            
                                	{{genero.name}}{%if i <params.genres|length -1 %},{%endif%}
                          
                                	{%set i = i +1%}
                                	{%endfor%}
                                	</div>
                                	<div class="movie_option"><strong>Duraci&oacute;n : </strong>{{params.runtime}}m</div>
                                	
                                	<div class="movie_option"><strong>Total votos: </strong>{{params.vote_count}}</div>
                                    
                                    <span class="imdbRatingPlugin" style="padding-right:5px;" data-user="ur52717514" data-title="{{params.imdb_id}}" data-style="p2"><strong>&nbsp;IMDb: </strong> <a href="http://www.imdb.com/title/tt2948356/?ref_=plg_rt_1"><img src="http://g-ecx.images-amazon.com/images/G/01/imdb/plugins/rating/images/imdb_37x18.png" alt="{{params.title}} en IMDb" />&nbsp;</a></span>
                                    <script>(function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src="http://g-ec2.images-amazon.com/images/G/01/imdb/plugins/rating/js/rating.min.js";stags.parentNode.insertBefore(js,stags);})(document,'script','imdb-rating-api');</script>
                                    
                                    <div class="movie_option"><strong>Total votos IMDb: </strong>{{votos_imdb}}</div><br/>
                                	
                                	<div class="movie_option"><strong>Estudio(s) Cinematogr&aacute;fico(s) : </strong>
                                	{% set contador_companias = 0 %} 
                                	{% for production_companies in params.production_companies  %}
                                	
                                    	{% set contador_companias = contador_companias + 1 %}
                                    	
                                    	{%if contador_companias < params.production_companies|length %}{{production_companies.name}},&nbsp;
                                    	{%else%}{{production_companies.name}}.
                                    	{%endif%}
                                	{% endfor %}
                                	</div><br/>
                                    
                                    {% if funcionesOcultas == 1 %}
                                        <center> <div class="movie_option"><a target="_blank" style="text-decoration:none; border-radius:5px; color:#fff;" class="btn1" href="https://thepiratebay.org/search/{{params.title}}" ><strong>Descargar</strong></a></div><br/></center>
                                    {% endif %}
                                    
                                    <div class="m_4"><strong>Sinopsis:</strong> {{params.overview}}</div><br/>
                            
                                <h4>Capturas</h4>
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                  <!-- Indicators -->
                                  <ol class="carousel-indicators">
                                   {%set k=0%}
                                    {%for backdrops in params.backdrops%}
                                        <li data-target="#myCarousel" data-slide-to="{{k}}"{% if k == 0 %}class="active"{%endif%}></li>
                                          
                                        {%set k=k + 1%}
                                        {%endfor%}
                                      </ol>
                                    
                                      <!-- Wrapper for slides -->
                                      <div class="carousel-inner" role="listbox">
                                        
                                        {%set p=0%}
                                        {%for backdrops in params.backdrops%}
                                        <div class="{% if p == 0 %}item active{%else%}item {%endif%}">
                                          <img src="https://image.tmdb.org/t/p/w780/{{backdrops.file_path}}" alt="Captura">
                                        </div>
                                        {%set p=-1%}
                                        {%endfor%}
                                    
                                      </div>
                                    
                                      <!-- Left and right controls -->
                                      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Anterior</span>
                                      </a>
                                      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Siguiente</span>
                                      </a>
                                    </div>
                                    </div>
                                    <div id="produccion" class="tab-pane fade">
                                        <h3> Elenco </h3>
                                        {% for elenco in params.cast %}
                                            
                                            <strong>{{ elenco.name }}</strong>: {{elenco.character}} <br/>
                                            
                                        {% endfor %}
                                        
                                        <h3> Personal </h3>
                                        
                                        {% for personal in params.crew %}
                                            
                                            <strong>{{ personal.name }}</strong>: {{personal.department}} ({{personal.job}}) <br/>
                                            
                                        {% endfor %}
                                        
                                    </div>
                                </div>
                         </div>
                        <div class="clearfix"> </div>
                        
                        
		                
                      </div>
                 
                    
                  </div>
                  
                  <div class="col-md-2">
                      {%for peliculaSimilar in similares.results|slice(0, 3)%}
                          	<div class="movie_img"><div class="grid_2">
                          	        
                          	        {% if peliculaSimilar.poster_path == "" %}
                                         <a href="{{url('homepage')}}vista/mostrarpelicula/{{peliculaSimilar.id}}"><img src="{{asset('assets/images/movie.png')}}" alt="{{peliculaSimilar.title}}"></a>
                                    {% else %}
                                        <a href="{{url('homepage')}}vista/mostrarpelicula/{{peliculaSimilar.id}}"><img src="https://image.tmdb.org/t/p/w300{{peliculaSimilar.poster_path}}" width="100%" alt="{{peliculaSimilar.title}}" class="img-responsive" ></a>	
                                    {% endif %}
                          	        
                                    <div class="caption1">
    									<ul class="list_5 list_7">
    									    <div class="calificacion-fondo-similares">
    							    		    <li><i class="icon5"> <span  class="glyphicon glyphicon-star calificacion-similares" aria-hidden="true"> </span></i><p>{{peliculaSimilar.vote_average}}</p></li>
    							    		</div>
    							    	</ul>
    							    	<i class="icon4 icon6 icon7"> </i>
    							    	<!--  <p class="m_3">{{peliculaSimilar.title}}</p>-->
    							    </div>
    						    </div>
    						</div>
                      {%endfor%} 
                      
                     <center>
                         <a href="{{url('vista_homepage')}}similares/{{params.id}}" class="btn btn-primary" type="button"> Ver m&aacute;s <span class="badge">{{similares.results|length}}</span> </a>
                         
                    </center><br/>
           </div>
           <div id="popup_nueva_coleccion_personalizada" style="visibility: invisible; opacity: 1;" class="overlay">
               <div id="divEmergentePopup" style="display:none" class="alert alert-success alert-dismissible" role="alert">
                   <p id="mensajeEmergente"></p>
               </div>
               
               <div class="popup">
                    <a id="close_nueva_coleccion_p" class="close" href="#">×</a>
                   <div class="panel panel-warning" sytle ="width= 90%;">
                        <div class="panel-heading">
                            Creacion de nuevas colecciones
                        </div>
                        <div class="panel-body">
                            <div class="form-group col-md-7">
                                <div id="divEmergenteCrearListas" style="display:none; margin-top: 0.5cm;" class="alert alert-success alert-dismissible" role="alert">
                                   <p id="mensajeEmergenteCrearListas"></p>
                               </div>
                      
                                <label style="margin-top = 5%;">Ingrese el nombre de la nueva lista </label>
                                <input id="nombreNuevaColeccion" style="width : 90%;" type="text" style="form-control" required>
                                <br><br>
                                <center>
                                <button id="crearColeccion" type="submit" class="btn btn-warning">Crear</button>
                                </center>
                             </div>
                             <img src="{{asset('assets/images/listImage.png')}}" class="img-responsive col-md-4" alt="Cinque Terre">
                        </div>
           
                        </div>
                   
                    </div>
                    
               </div>
           
           </div>

{%endblock%}
{%block javascripts%}
{{parent()}}

    <script>
    <!-- SDK -->
        window.fbAsyncInit = function() {
            FB.init({
                appId: '1569365780029223',
                xfbml: true,
                version: 'v2.6'
            });
        };
    
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <script>
    
        document.getElementById('compartirFacebook').onclick = function() {
          FB.ui({
            method: 'share',
            display: 'popup',
            href: $('#meta_url').attr('content'),
          }, function(response){});
        }
   
    </script>


    <script>
            $(function() {
                {% if usuarioLogueado ==1%}
                var vista={{params.vista}};
                var porVer={{params.porVer}};
                 estiloBotonVistas(vista);
                 estiloBotonPorVer(porVer);
                {%endif%}
                var lts=0;
                
                var rating =0;
                
                var calificacion_semaphore=0;
           
      
           
               
           
                
        // funciones para nuevas colecciones            
         $("#close_nueva_coleccion_p").click(function(){
           $("#popup_nueva_coleccion_personalizada").attr("style","visibility: invisible; opacity: 0;");
           var x = document.getElementById("popup_nueva_coleccion_personalizada");
        var y = x;
        $("#ctn").append(y);
      });        
      $('#crearListas').click(function(){
        $("#popup_nueva_coleccion_personalizada").attr("style","visibility: visible; opacity: 1;");
        var x = document.getElementById("popup_nueva_coleccion_personalizada");
        var y = x;
        $("#ctn").append(y);
      });
       $('#crearColeccion').click(function(){
         $.ajax({
                    type: "GET",
                    url: "{{url('adicionar_lista')}}",
                    data: { nombreColeccion:$('#nombreNuevaColeccion').val()},
                    dataType: "json",
                   
                    //if received a response from the server
                    success: function( data, textStatus, jqXHR) {
                         if(data.success){
    
                               
                           // var respuesta = jQuery.parseJSON(  );
                           
                        
                           }
                         
                         //display error message
                         else {
                             $("#mensajeEmergente").html("Error ¬_¬");
                             $("#mensajeEmergente").html(jQuery.parseJSON(jqXHR.responseText).mensaje);   
                            $('#divEmergente').attr("class","alert alert-success alert-dismissible" );
                            $('#divEmergente').show(1000).delay(3000);
                            $('#divEmergente').hide(1000);
                            $('#ulListaColecciones').append('<li><a idColeccion="'+ jQuery.parseJSON(jqXHR.responseText).idColeccion +'"id="crearListas" class="a_lista">'+$('#nombreNuevaColeccion').val()+'</a> </li>');
                            $("#popup_nueva_coleccion_personalizada").attr("style","visibility: invisible; opacity: 0;");
                            $(".a_lista").on("click", (function(){
              $.ajax({
                    type: "GET",
                    url: "{{url('adicionar_pelicula_lista_personalizada')}}",
                    data: { idColeccion:$(this).attr("idColeccion"), idPelicula:{{params.id}}},
                    dataType: "json",
                   
                    //if received a response from the server
                    success: function( data, textStatus, jqXHR) {
                         if(data.success){
                             $("#mensajeEmergente").html("");
                         } 
                         //display error message
                         else {
                             $("#mensajeEmergente").html("Error ¬_¬");
                         }
                    },
                   
                    //If there was no resonse from the server
                    error: function(jqXHR, textStatus, errorThrown){
                        
                           if(jqXHR.status == 405)
                           {
                            $("#mensajeEmergente").html(jqXHR.responseText);
                            $('#divEmergente').attr("class","alert alert-danger alert-dismissible" );
                            $('#divEmergente').show(1000).delay(3000);
                            $('#divEmergente').hide(1000);
                           }
                           if(jqXHR.status == 200)
                           {
                            $("#mensajeEmergente").html(jqXHR.responseText);   
                            $('#divEmergente').attr("class","alert alert-success alert-dismissible" );
                            $('#divEmergente').show(1000).delay(3000);
                            $('#divEmergente').hide(1000);
                     
                           }  
                    },
                   
    
         
                });   
           }));
                         }
                    },
                   
                    //If there was no resonse from the server
                    error: function(jqXHR, textStatus, errorThrown){
                        
                        
                          
                           if(jqXHR.status == 405)
                           {
                            
                          
                            $("#mensajeEmergenteCrearListas").html(jQuery.parseJSON(jqXHR.responseText).mensaje);
                            $('#divEmergenteCrearListas').attr("class","alert alert-danger alert-dismissible" );
                            $('#divEmergenteCrearListas').show(1000).delay(3000);
                            $('#divEmergenteCrearListas').hide(1000);
                           }
                         
                        
                     
                           
                    },
                   
    
         
                });  
      });
      //close y enlaces a trailers
      {%set i = 0%}
     {% for trailer in params.results %}
      $("#close{{i}}").click(function(){
           $("#popup{{i}}").attr("style","visibility: invisible; opacity: 0;");
           var x = document.getElementById("popup{{i}}");
        var y = x;
        $("#ctn").append(y);
      });
      
      $('#trailer{{i}}').click(function(){
        $("#popup{{i}}").attr("style","visibility: visible; opacity: 1;");
        var x = document.getElementById("popup{{i}}");
        var y = x;
        $("#ctn").append(y);
      });
      {%set i = i+1%}
      {%endfor%}
                 
    
             {%if usuarioLogueado == 1%}   
             
                
      function estiloBotonVistas(vista){
      
                 if(vista == 0){
                            $('#marcar_desmarcar_vista_li').css("color","#ccc");
                            $('#iconoVista').attr("class", "glyphicon glyphicon-eye-close");
                        }
                        if(vista == 1){
                            $('#marcar_desmarcar_vista_li').css("color","#3a8cfb");
                            $('#iconoVista').attr("class", "glyphicon glyphicon-eye-open");
                        }
      };
      
        function estiloBotonPorVer(porVer){
      
                 if(porVer == 0){
                            $('#marcar_desmarcar_por_ver_li').css("color","#ccc");
                        }
                        if(porVer == 1){
                            $('#marcar_desmarcar_por_ver_li').css("color","#3a8cfb");
                        }
      };
       $("#marcar_desmarcar_por_ver_li").click(function(){
             $.ajax({
                    type: "GET",
                    url: "{{url('marcar_por_ver')}}",
                    data: { idPelicula:{{params.id}}},
                    dataType: "json",
                   
                    //if received a response from the server
                    success: function( data, textStatus, jqXHR) {
                         if(data.success){
                             $("#mensajeEmergente").html("");
                         } 
                         //display error message
                         else {
                             $("#mensajeEmergente").html("Error ¬_¬");
                         }
                    },
                   
                    //If there was no resonse from the server
                    error: function(jqXHR, textStatus, errorThrown){
                        porVer = (porVer + 1) %2;
                        if(porVer == 1){
                        vista = 0;
                        estiloBotonVistas(vista);
                        estiloBotonPorVer(porVer);
                        $('#divEmergente').attr("class","alert alert-success alert-dismissible" );
                        $("#mensajeEmergente").html(jqXHR.responseText);
                        $('#divEmergente').show(1000).delay( 3000 );
                        $('#divEmergente').hide(1000);
                        }
                        else{
                        $('#divEmergente').attr("class","alert alert-success alert-dismissible" );
                        $("#mensajeEmergente").html(jqXHR.responseText);
                        $('#divEmergente').show(1000).delay( 3000 );
                        $('#divEmergente').hide(1000);
                        }
                         estiloBotonPorVer(porVer);
                    },
                   
    
         
                });   
            });
            $("#marcar_desmarcar_vista_li").click(function(){
             $.ajax({
                    type: "GET",
                    url: "{{url('marcar_vista')}}",
                    data: { idPelicula:{{params.id}}},
                    dataType: "json",
                   
                    //if received a response from the server
                    success: function( data, textStatus, jqXHR) {
                         if(data.success){
                             $("#mensajeEmergente").html("");
                         } 
                         //display error message
                         else {
                             $("#mensajeEmergente").html("Error ¬_¬");
                         }
                    },
                   
                    //If there was no resonse from the server
                    error: function(jqXHR, textStatus, errorThrown){
                        vista = (vista + 1) %2;
                        if(vista ==1){
                            porVer=0;
                            estiloBotonPorVer(porVer);
                             $("#mensajeEmergente").html(jqXHR.responseText);
                           $('#divEmergente').attr("class","alert alert-success alert-dismissible" );
                           $('#divEmergente').show(1000).delay( 3000 );
                           $('#divEmergente').hide(1000);
                        }
                        else{
                             $("#mensajeEmergente").html(jqXHR.responseText);
                           $('#divEmergente').attr("class","alert alert-success alert-dismissible" );
                           $('#divEmergente').show(1000).delay( 3000 );
                           $('#divEmergente').hide(1000);
                        }
                           estiloBotonVistas(vista);
                          
                           
                    },
                   
    
         
                });   
            });
            $("#calificacionPersonal").rateYo({
                    
                    readOnly: false,
                    rating: {{params.calificacionUsuario}},
                    numStars: 10,
                    precision: 10,
                    minValue: 1,
                    maxValue: 10
                }).on("rateyo.change", function(e, data) {
                    if(calificacion_semaphore==1){
                    $.ajax({
                    type: "GET",
                    url: "{{url('calificacion_pelicula')}}",
                    data: { idPelicula:{{params.id}}, calificacion:data.rating},
                    dataType: "json",
                   
                    //if received a response from the server
                    success: function( data, textStatus, jqXHR) {
                         if(data.success){
                             $("#mensajeEmergente").html("");
                         } 
                         //display error message
                         else {
                             $("#mensajeEmergente").html("No se pudo enviar la calificación");
                         }
                    },
                   
                    //al intentar calificar:
                    error: function(jqXHR, textStatus, errorThrown){
                        
                          
                           $("#mensajeEmergente").html(jqXHR.responseText);
                           if(jqXHR.status == 405)
                           {
                            $('#divEmergente').attr("class","alert alert-danger alert-dismissible" );
                           }
                           if(jqXHR.status == 200)
                           {
                            $('#divEmergente').attr("class","alert alert-success alert-dismissible" );
                           }
                           $('#divEmergente').show(1000).delay( 3000 );
                           $('#divEmergente').hide(1000);
                           
                    },
                   
    
         
                }); 
                     calificacion_semaphore=0;   
                    }       
                    $("#calificacionPersonal").val(data.rating);
    
                });
                
                 $(".a_lista").on("click", (function(){
              $.ajax({
                    type: "GET",
                    url: "{{url('adicionar_pelicula_lista_personalizada')}}",
                    data: { idColeccion:$(this).attr("idColeccion"), idPelicula:{{params.id}}},
                    dataType: "json",
                   
                    //if received a response from the server
                    success: function( data, textStatus, jqXHR) {
                         if(data.success){
                             $("#mensajeEmergente").html("");
                         } 
                         //display error message
                         else {
                             $("#mensajeEmergente").html("Error ¬_¬");
                         }
                    },
                   
                    //If there was no resonse from the server
                    error: function(jqXHR, textStatus, errorThrown){
                        
                           if(jqXHR.status == 405)
                           {
                            $("#mensajeEmergente").html(jqXHR.responseText);
                            $('#divEmergente').attr("class","alert alert-danger alert-dismissible" );
                            $('#divEmergente').show(1000).delay(3000);
                            $('#divEmergente').hide(1000);
                           }
                           if(jqXHR.status == 200)
                           {
                            $("#mensajeEmergente").html(jqXHR.responseText);   
                            $('#divEmergente').attr("class","alert alert-success alert-dismissible" );
                            $('#divEmergente').show(1000).delay(3000);
                            $('#divEmergente').hide(1000);
                     
                           }  
                    },
                   
    
         
                });   
           }));
            
    	        $("#calificacionPersonal").click(function(){
    		    calificacion_semaphore=1;
    		   
    			
    		 });
    
      {%endif%}
              {%if params.backdrop_path%}
                $('#cabezera').css("background", "url(https://image.tmdb.org/t/p/w1280/{{params.backdrop_path}})");  
                {%endif%}
            });
        </script>
    
    {%endblock%}
    {% block barraderecha %}{% endblock %}
