{%extends 'index.html.twig'%}
{%block title%} QMP - {{usuario.nombres}} {{usuario.apellidos}} {%endblock%}
{%block loginoptions%}
    {% if usuarioLogueado == 1  %}

            <a href="{{url('usuario')}}">{{nickname}}</a> | <a href="{{url('logout_action')}}">Salir</a>
       
    {% else %} 

        {{parent()}} 
    
    {% endif %}
{% endblock %}

{% block contenido %}


<div class="menu-pelicula-border-black">
    <ul class="menu-pelicula-tab">
        <li class="active"><a data-toggle="tab" href="#descubrir">Descubrir&nbsp;</a></li>
        <li><a data-toggle="tab" href="#listas">Mis listas&nbsp;</a></li>
        <li><a data-toggle="tab" href="#vistas">Vistas&nbsp;</a></li>
        <li><a data-toggle="tab" href="#pendientes">Pendientes&nbsp;</a></li>
        <li><a data-toggle="tab" href="#calificadas">Calificadas&nbsp;</a></li>
        <li><a data-toggle="tab" href="#perfil">Mis Datos Personales</a></li>
        <li><a data-toggle="tab" href="#misGeneros">Mis G&eacute;neros</a></li>
    </ul>
</div>
  <div id="divEmergente" style="display:none" class="alert alert-success alert-dismissible" role="alert">
                   <p id="mensajeEmergente"></p>
               </div>
<div class="tab-content">
    <div id="listas" class="tab-pane fade">
    
        <div class="listasPersonalizadas">
            <div class="alert alert-warning" role="alert"><strong>Warning!!</strong> Limitación de la API</div>
            <h3> Listas personalizadas </h3> 
             
                {% for coleccion in peliculas_coleccion %}
                <br>
                <div id="divPrimario{{coleccion.idColeccion}}"idLista="{{coleccion.idColeccion}}" class="panel panel-primary" >
                
                
                    <div id="div{{coleccion.idColeccion}}" class="panel-heading">
                        
                             <strong> <input class="tituloPanelColeccionReadOnly"  value =  "{{coleccion.nombreColeccion}}" size="25" type="text"  id="tituloPanelColeccion{{coleccion.idColeccion}}" readOnly></strong>
                        
                   <div style="float: right; ">
                        <a  idLista="{{coleccion.idColeccion}}" style="display:none;" class="btn btn-success btn-xs {{coleccion.idColeccion}}_botonTerminarEdicion botonTerminarEdicion">Guardar</a>
                        <a  idLista="{{coleccion.idColeccion}}" class="btn btn-success btn-xs {{coleccion.idColeccion}}_botonEditarColeccion">Editar</a>
                        <a  idLista="{{coleccion.idColeccion}}" class="btn btn-danger btn-xs {{coleccion.idColeccion}}_botonEliminarColeccion botonEliminarColeccion">Eliminar</a>
                    </div>
                    
            </div>
                <div class="panel-body">
                
                    {%for pelicula in coleccion.peliculas%}
                    
                        <div class="miniaturas"  id="divPeliculaColeccion_{{coleccion.idColeccion}}_{{pelicula.id}}" style="background-image: url(https://image.tmdb.org/t/p/w185{{pelicula.poster_path}});" onclick="window.open('{{ url('homepage') }}vista/mostrarpelicula/{{pelicula.id}}','_blank');" > 
                            <a idColeccion="{{coleccion.idColeccion}}" idPelicula="{{pelicula.id}}" id="pelicula_{{pelicula.id}}" style="display:none;"  class="glyphicon glyphicon-remove-circle borrar_de_lista {{coleccion.idColeccion}}_selector" aria-hidden="true" href="#P" ></a> 
                        </div>
                    
                    {%endfor%}
                    </div>
                </div>
            {% endfor %}
        </div>
        </div> 
        
    <div id="descubrir" class="tab-pane fade in active">
        {% for gusto in gustos%}
        <div class="gustos"> {{gusto}}</div>
        {% endfor %}
        <br/> <br/> 
        {% if descubiertas == null %}
            <center>
                <h3>No tiene gustos registrados, puede adicionarlos en Mi perfil.</h3>
            </center>
            <br/> 
        {% endif %} 
        
        {%set i=0%} 
        {% for pelicula in descubiertas.results %}

        <div class="resultado" onclick="window.open('{{ url('homepage') }}vista/mostrarpelicula/{{pelicula.id}}','_blank');">
            <a>
            {% if pelicula.poster_path == "" %}
                
                <img class="img-pendientes"; src="{{asset('assets/images/movie.png')}}" alt="...">
                           
                {% else %}
                        
                <img src="https://image.tmdb.org/t/p/w185/{{pelicula.poster_path}}" alt="...">
                        
            {% endif %}
            </a>
            <div class="resultado-articulo">
                <label> {{pelicula.title}} <div id="c{{i}}" value="0" class="rateyo-readonly-widg"> </div> Fecha de estreno: {{pelicula.release_date}}</label><br> {{pelicula.overview}}
            </div>

        </div>

        {%set i= i + 1%} 
        {% endfor %}

        <center>
            <a href="{{url('vista_homepage')}}bgeneros/{{generos}}" class="btn btn-primary" type="button"> Ver m&aacute;s <span class="badge">{{descubiertas.total_results}}</span> </a>
        </center>

        <br/>
    </div>
    <div id="perfil" class="tab-pane fade">
        <div class="datos">
             <object width="100%" height="500"  data="{{url('usuarios_index')}} {{usuario.id}}/showEstandar"></object> 

        </div>
        <br/>
    </div>
    <div id="misGeneros" class="tab-pane fade">

            
            <div class="panel panel-default">
                        <div class="panel-heading">
                                 <div style="float:right;  margin-top:20px;">
                                  <a   class="btn btn-sm btn-default"  href="{{url('generos_barra')}}">Editar</a>
                                  </div>
                                 <h1>Generos que me gustan</h1>
                        </div>
                         <div class="panel-body">
                                <ul>
                                    {% for gusto in gustos %}
                                        <li>{{gusto}}</li>
                                    {% endfor %}
                                </ul>
                            
                            <br/>
                          </div>
            </div>
    </div>
    <div id="vistas" class="tab-pane fade">
        <div class="alert alert-warning" role="alert"><strong>Warning!!</strong> Limitación de la API</div>
          
          {% set i = 0 %}
                        {% for pelicula in vistas %}
                        
                        <div class="vistas-pendientes">
                             <a href="{{ url('homepage') }}vista/mostrarpelicula/{{pelicula.id}}" >
                            {% if pelicula.poster_path == "" %}
                                <img {%if i == ((vistas|length)-1) %}
                                class="espacio-bot img-pendientes";  {%else%} class="img-pendientes";
                                {%endif%} src="{{asset('assets/images/movie.png')}}" height="278" width="185" alt="{{pelicula.title}}" synopsis="{{pelicula.overview}}" fechaAdicion="{{pelicula.fecha_adicion|date("d/m/Y")}}"> 
                                {% else %}
                                <img {%if i == ((vistas|length)-1) %}
                                class="espacio-bot img-pendientes";  {%else%} class="img-pendientes";
                                {%endif%} src="https://image.tmdb.org/t/p/w185/{{pelicula.poster_path}}" height="278" width="185" alt="{{pelicula.title}}" synopsis="{{pelicula.overview}}" fechaAdicion="{{pelicula.fecha_adicion|date("d/m/Y")}}">  
                            {% endif %}
                            </a>
                        </div>
                        {% set i = i + 1 %}
                        {% endfor %}
          
              <!--<div class="menu-pelicula-border-black">
                <ul class="menu-pelicula-tab">
                    <li class="active"><a data-toggle="tab" href="#totalvistas">Total de peliculas vistas&nbsp;</a></li>
                    <li><a data-toggle="tab" href="#ultimomes">Vistas en el último mes&nbsp;</a></li>
                    <li><a data-toggle="tab" href="#generosvistos">Generos vistos&nbsp;</a></li>
                </ul>
              </div>-->
            
            <!--<div class="tab-content">
                <div id="totalvistas" class="tab-pane fade in active">
                    {% set i = 0 %}
                        {% for pelicula in vistas %}
                        
                        <div class="vistas-pendientes">
                             <a href="{{ url('homepage') }}vista/mostrarpelicula/{{pelicula.id}}" >
                            {% if pelicula.poster_path == "" %}
                                <img {%if i == ((vistas|length)-1) %}
                                class="espacio-bot img-pendientes";  {%else%} class="img-pendientes";
                                {%endif%} src="{{asset('assets/images/movie.png')}}" height="278" width="185" alt="{{pelicula.title}}" synopsis="{{pelicula.overview}}" fechaAdicion="{{pelicula.fecha_adicion|date("d/m/Y")}}"> 
                                {% else %}
                                <img {%if i == ((vistas|length)-1) %}
                                class="espacio-bot img-pendientes";  {%else%} class="img-pendientes";
                                {%endif%} src="https://image.tmdb.org/t/p/w185/{{pelicula.poster_path}}" height="278" width="185" alt="{{pelicula.title}}" synopsis="{{pelicula.overview}}" fechaAdicion="{{pelicula.fecha_adicion|date("d/m/Y")}}">  
                            {% endif %}
                            </a>
                        </div>
                        {% set i = i + 1 %}
                        {% endfor %}
                </div>
                <div id="ultimomes" class="tab-pane fade">
                    {% set i = 0 %}
                        {% for pelicula in ultimomes %}
                        <div class="vistas-pendientes">
                             <a href="{{ url('homepage') }}vista/mostrarpelicula/{{pelicula.id}}" >
                            {% if pelicula.poster_path == "" %}
                                <img {%if i == ((ultimomes|length)-1) %}
                                class="espacio-bot img-pendientes";  {%else%} class="img-pendientes";
                                {%endif%} src="{{asset('assets/images/movie.png')}}" height="278" width="185" alt="{{pelicula.title}}" synopsis="{{pelicula.overview}}" fechaAdicion="{{pelicula.fecha_adicion|date("d/m/Y")}}"> 
                                {% else %}
                                <img {%if i == ((ultimomes|length)-1) %}
                                class="espacio-bot img-pendientes";  {%else%} class="img-pendientes";
                                {%endif%} src="https://image.tmdb.org/t/p/w185/{{pelicula.poster_path}}" height="278" width="185" alt="{{pelicula.title}}" synopsis="{{pelicula.overview}}" fechaAdicion="{{pelicula.fecha_adicion|date("d/m/Y")}}">  
                            {% endif %}
                            </a>
                        </div>
                        {% set i = i + 1 %}
                        {% endfor %}
                </div>
                
                <div id="generosvistos" class="tab-pane fade">
                    <ul>
                    {% for generovisto in generosvistos %}
                        <li>{{generovisto}}</li>
                    {% endfor %}
                    </ul>
                    
                </div>
                <br/>
                
            </div>-->
          
    </div>
    <div id="pendientes" class="tab-pane fade">
        <div class="alert alert-warning" role="alert"><strong>Warning!!</strong> Limitación de la API</div>
            
            {% set i = 0 %}
            {% for pelicula in pendientes %}
            <div class="vistas-pendientes">
                 <a href="{{ url('homepage') }}vista/mostrarpelicula/{{pelicula.id}}" >
                {% if pelicula.poster_path == "" %}
                <img {%if i == ((pendientes|length)-1) %}
                    class="espacio-bot img-pendientes"; {%else%} class="img-pendientes";
                    {%endif%} src="{{asset('assets/images/movie.png')}}" height="278" width="185" alt="{{pelicula.title}}" synopsis="{{pelicula.overview}}" fechaAdicion="{{pelicula.fecha_adicion|date("d/m/Y")}}"> {% else %}
                <img {%if i == ((pendientes|length)-1) %}
                    class="espacio-bot img-pendientes";  {%else%} class="img-pendientes";
                    {%endif%} src="https://image.tmdb.org/t/p/w185/{{pelicula.poster_path}}" height="278" width="185" alt="{{pelicula.title}}" synopsis="{{pelicula.overview}}" fechaAdicion="{{pelicula.fecha_adicion|date("d/m/Y")}}">   {% endif %}
                    </a>
            </div>
            {% set i = i + 1 %}
            {% endfor %}
        
    </div>
    
    <div id="calificadas" class="tab-pane fade">
        <div class="alert alert-warning" role="alert"><strong>Warning!!</strong> Limitación de la API</div>
            
           {% set i = 0 %}
            {% for pelicula in calificadas %}
            <div class="vistas-pendientes">
                 <a href="{{ url('homepage') }}vista/mostrarpelicula/{{pelicula.id}}" >
                {% if pelicula.poster_path == "" %}
                <img {%if i == ((calificadas|length)-1) %}
                    class="espacio-bot img-pendientes";  {%else%} class="img-pendientes";
                    {%endif%} src="{{asset('assets/images/movie.png')}}" height="278" width="185" alt="{{pelicula.title}}" synopsis="{{pelicula.overview}}" fechaAdicion="{{pelicula.fecha_adicion|date("d/m/Y")}}"> {% else %}
                <img {%if i == ((calificadas|length)-1) %}
                    class="espacio-bot img-pendientes";  {%else%} class="img-pendientes";
                    {%endif%} src="https://image.tmdb.org/t/p/w185/{{pelicula.poster_path}}" height="278" width="185" alt="{{pelicula.title}}" synopsis="{{pelicula.overview}}" fechaAdicion="{{pelicula.fecha_adicion|date("d/m/Y")}}">   {% endif %}
                    </a>
            </div>
            {% set i = i + 1 %}
            {% endfor %}
        
    </div>
    
   
    
</div>
{% endblock %}

{% block barraderecha %}

    <div class="col-md-3 columna-index-boostrap">
        <div class="columna-index">
            
            <label>{{ usuario.nombres }} {{ usuario.apellidos }}</label>
            
        </div>
        
        
    </div>
    
    <div class="col-md-3 columna-index-boostrap" style="display:none;">
            <div id="bloqueDetalle" class="columna-index columna-index-top" >
            <img id="img-detalles" src=""  height="278" width="185" alt="..."><br/>
            <label id="titulo-detalles" class="titulo-detalles">  ... </label><br/>
            <label id="fecha-detalles" class="fecha-detalles">  ... </label><br/>
            <label id="synopsis-detalles" class="synopsis-detalles">  ... </label>
            
        </div>
    </div>

{% endblock %}

{%block javascripts%}
 {{ parent() }}
<script>
        
        
        $(".img-pendientes").hover(function(){
            var imagen= $(this).attr("src");
            var titulo= $(this).attr("alt");
            var synopsis= $(this).attr("synopsis");
            var fecha= $(this).attr("fechaAdicion");
            $("#img-detalles").attr("src", imagen);
            $("#img-detalles").attr("alt", titulo);
            $("#titulo-detalles").html("<strong>"+titulo+"</strong>");
            $("#synopsis-detalles").html(synopsis);
            $("#fecha-detalles").html("Adicionada: " + fecha);
            $(".col-md-3").attr("style","display:inline;");
        });
        
        $(document).scroll(function() {
          var y = $(this).scrollTop();
          if (y > 380) {
            $('#bloqueDetalle').attr("class","columna-index columna-index-top bajar");
          }else{
            $('#bloqueDetalle').attr("class","columna-index columna-index-top");
          }
        });

         $(".botonTerminarEdicion").click(function(){
             
                    var idLista = $(this).attr("idlista");
                    $.ajax({
                    type: "GET",
                    url: "{{url('cambiar_nombre_coleccion')}}",
                    data: { idColeccion:idLista, nuevoNombre:$("#tituloPanelColeccion"+idLista).val()},
                    dataType: "json",
                   
                    //if received a response from the server
                    success: function( data, textStatus, jqXHR) {
                         if(data.success){
                             $("#mensajeEmergente").html("");
                         } 
                         //display error message
                         else {
                             $("#mensajeEmergente").html("Error ¬_¬");
                         }
                    },
                   
                    //If there was no resonse from the server
                    error: function(jqXHR, textStatus, errorThrown){
                        
                           if(jqXHR.status == 405)
                           {
                            $("#mensajeEmergente").html(jqXHR.responseText);
                            $('#divEmergente').attr("class","alert alert-danger alert-dismissible" );
                            $('#divEmergente').show(1000).delay(3000);
                            $('#divEmergente').hide(1000);
                           }
                           if(jqXHR.status == 200)
                           {

                            $(divEliminar).hide(1000);
                            
                            
                           }  
                    },
                   
    
         
                }); 
        
    });
         $(".botonEliminarColeccion").click(function(){
             
                    var idLista = $(this).attr("idlista");
                    var divEliminar="#divPrimario"+idLista;
                    $.ajax({
                    type: "GET",
                    url: "{{url('eliminar_coleccion_personalizada')}}",
                    data: { idColeccion:idLista},
                    dataType: "json",
                   
                    //if received a response from the server
                    success: function( data, textStatus, jqXHR) {
                         if(data.success){
                             $("#mensajeEmergente").html("");
                         } 
                         //display error message
                         else {
                             $("#mensajeEmergente").html("Error ¬_¬");
                         }
                    },
                   
                    //If there was no resonse from the server
                    error: function(jqXHR, textStatus, errorThrown){
                        
                           if(jqXHR.status == 405)
                           {
                            $("#mensajeEmergente").html(jqXHR.responseText);
                            $('#divEmergente').attr("class","alert alert-danger alert-dismissible" );
                            $('#divEmergente').show(1000).delay(3000);
                            $('#divEmergente').hide(1000);
                           }
                           if(jqXHR.status == 200)
                           {

                            $(divEliminar).hide(1000);
                            
                            
                           }  
                    },
                   
    
         
                }); 
        
    });

         $(".borrar_de_lista").click(function(){
             
             var nombre= "#divPeliculaColeccion_"+$(this).attr("idcoleccion")+"_"+$(this).attr("idpelicula");
             var divImagenEliminar = $(this).parent();
             divImagenEliminar.attr("onclick","");
                    $.ajax({
                    type: "GET",
                    url: "{{url('eliminar_pelicula_lista_personalizada')}}",
                    data: { idColeccion:$(this).attr("idcoleccion"), idPelicula:$(this).attr("idpelicula")},
                    dataType: "json",
                   
                    //if received a response from the server
                    success: function( data, textStatus, jqXHR) {
                         if(data.success){
                             $("#mensajeEmergente").html("");
                         } 
                         //display error message
                         else {
                             $("#mensajeEmergente").html("Error ¬_¬");
                         }
                    },
                   
                    //If there was no resonse from the server
                    error: function(jqXHR, textStatus, errorThrown){
                        
                           if(jqXHR.status == 405)
                           {
                            $("#mensajeEmergente").html(jqXHR.responseText);
                            $('#divEmergente').attr("class","alert alert-danger alert-dismissible" );
                            $('#divEmergente').show(1000).delay(3000);
                            $('#divEmergente').hide(1000);
                           }
                           if(jqXHR.status == 200)
                           {

                            divImagenEliminar.hide(1000);
                            
                            
                           }  
                    },
                   
    
         
                }); 
        
    });

     $(function() {
         {%set i = i + 0%}
        {% for pelicula in descubiertas.results%}
            var rating = {{pelicula.vote_average}};
            $(".counter").text(rating);
            $("#c{{i}}").rateYo({
                readOnly: true,
                rating: rating,
                numStars: 10,
                precision: 10,
                minValue: 1,
                maxValue: 10
            }).on("rateyo.change", function(e, data) {
                $("#c{{i}}").val(data.rating);
            });
            
                {%set i = i + 1%}
        {%endfor%}
     });
     

     {% for coleccion in peliculas_coleccion %}
     $(".{{coleccion.idColeccion}}_botonEditarColeccion").click(function(){
               $(".{{coleccion.idColeccion}}_botonEliminarColeccion").attr("style","display:inline;"); 
               $(".{{coleccion.idColeccion}}_botonEditarColeccion").attr("style","display:none;");
               $(".{{coleccion.idColeccion}}_botonTerminarEdicion").attr("style","display:inline;");
               $(".{{coleccion.idColeccion}}_selector").attr("style","display:inline;");
               $("#tituloPanelColeccion"+$(this).attr("idlista")).prop("readonly", false);
               $("#tituloPanelColeccion"+$(this).attr("idlista")).attr("class", "tituloPanelColeccionReadable");
            });
    $(".{{coleccion.idColeccion}}_botonTerminarEdicion").click(function(){
               $(".{{coleccion.idColeccion}}_botonEliminarColeccion").attr("style","display:inline;"); 
               $(".{{coleccion.idColeccion}}_botonEditarColeccion").attr("style","display:inline;");
               $(".{{coleccion.idColeccion}}_botonTerminarEdicion").attr("style","display:none;");
               $(".{{coleccion.idColeccion}}_selector").attr("style","display:none;");
               $("#tituloPanelColeccion"+$(this).attr("idlista")).prop("readonly", true);
               $("#tituloPanelColeccion"+$(this).attr("idlista")).attr("class", "tituloPanelColeccionReadOnly");
               
    });
    {%endfor%}
    

    </script>   
{%endblock%}